.wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

.left-bar-container {
  display: none;
}
@media only screen and (min-width: 500px) {
  .left-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    max-height: 100vh;
    overflow-y: auto;
    padding: 9px 19px 20px;
    position: sticky;
    top: 0;
  }
}

.left-bar-top {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .left-bar-top {
    align-items: flex-start;
  }
}

.menu-button {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  outline: 0;
  padding: 8.25px 0;
  border-radius: 25px;
  cursor: pointer;
}
.menu-button > span {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .menu-button {
    padding: 12px 15px 12px 15px;
  }
  .menu-button > span {
    color: #0f1419;
    display: inline;
    font-size: 19px;
    font-weight: bold;
    margin-left: 19px;
  }
}
.menu-button + button {
  margin-top: 5px;
}
.menu-button + button:last-child {
  height: 40px;
  margin-top: 33px;
  width: 40px;
}
.menu-button + button:last-child > span {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .menu-button + button:last-child {
    height: unset;
    width: 100%;
  }
  .menu-button + button:last-child > span {
    display: inline;
  }
}
.menu-button:hover {
  background: #e8f5fe;
}
.menu-button:hover span,
.menu-button:hover svg, .menu-button.active span,
.menu-button.active svg {
  color: #1da1f2;
}

.icon {
  color: #0f1419;
  flex-shrink: 0;
  height: 30px;
  width: 30px;
}

.logo {
  height: 30px;
  margin-bottom: 20px;
  padding-left: 18px;
  width: 30px;
}
.logo svg {
  height: 30px;
  width: 30px;
}
.logo svg > path {
  color: #1da1f2;
  fill: #1da1f2;
}

.left-bar-button {
  background: #1da1f2;
  border-radius: 25px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  outline: 0;
  padding: 16px;
}
.left-bar-button:hover {
  background: #1a91da;
}

.left-bar-bottom {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.avatar {
  background: #eff3f4;
  border-radius: 50%;
  flex-shrink: 0;
  height: 39px;
  width: 39px;
}

.profile-data {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .profile-data {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
  }
  .profile-data > span {
    color: #0f1419;
  }
}

.exit {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .exit {
    color: #0f1419;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    margin-left: 80px;
    width: 25px;
  }
  .exit:hover svg > path {
    color: #1a91da;
  }
}

.activity-header {
  background-color: #fff;
  border-bottom: 1px solid #eff3f4;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.activity-header h2 {
  font-size: 20px;
  font-weight: 800;
}

.activity-container {
  display: flex;
  flex-direction: column;
  width: min(601px, 100%);
}
@media only screen and (min-width: 500px) {
  .activity-container {
    border-left: 1px solid #eff3f4;
    border-right: 1px solid #eff3f4;
  }
}

.tweet-box {
  border-bottom: 8px solid #eff3f4;
  padding-bottom: 10px;
  padding-right: 10px;
}
.tweet-box form {
  display: flex;
  flex-direction: column;
}

.tweet-box-input {
  display: flex;
  padding: 20px;
}
.tweet-box-input input {
  border: none;
  flex: 1;
  font-size: 20px;
  margin-left: 20px;
  outline: none;
}
.tweet-box-input img {
  border-radius: 50%;
  height: 40px;
}

.tweet-input-bottom {
  display: flex;
}
.tweet-input-bottom p {
  flex: 0.9;
  margin-left: 20px;
}

.tweet-box-button {
  background-color: #1da1f2;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  flex: 0.1;
  font-weight: 900;
  height: 40px;
  margin-left: auto;
  margin-top: 20px;
  width: 80px;
}
.tweet-box-button:hover {
  background-color: #1a91da;
}
.tweet-box-button:disabled {
  cursor: not-allowed;
}

.tweets-container {
  display: flex;
  flex-direction: column;
}

.tweets {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.tweet-container {
  border-bottom: 1px solid #eff3f4;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 14px 16px;
}

.tweet-body {
  display: flex;
  margin-top: 3px;
  position: relative;
}

.tweet-avatar {
  background: #eff3f4;
  border-radius: 50%;
  flex-shrink: 0;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 49px;
}

.tweet-content {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding-left: 59px;
  width: 100%;
}

.tweet-top {
  align-items: center;
  display: flex;
  font-size: 15px;
  white-space: nowrap;
}
.tweet-top > strong {
  margin-right: 5px;
}
.tweet-top > span,
.tweet-top time {
  color: #0f1419;
}
.tweet-top > strong,
.tweet-top span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tweet-text {
  font-size: 14px;
  margin-top: 4px;
  word-wrap: break-word;
}

.dot {
  color: #eff3f4;
  font-size: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.tweet-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 11px auto 0;
  width: 100%;
}
@media only screen and (min-width: 330px) {
  .tweet-footer {
    width: 63%;
  }
}
.tweet-footer > div {
  cursor: pointer;
}
.tweet-footer > div:hover {
  opacity: 0.7;
}

.tweet-icon {
  align-items: center;
  display: flex;
  font-size: 14px;
}

.right-bar-container {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .right-bar-container {
    display: flex;
    flex-direction: column;
    width: min(399px, 100%);
  }
}

.right-bar-contents {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  padding: 20px 24px 200px;
}
.right-bar-contents > div + div {
  margin-top: 15px;
}

.right-bar-contents-box {
  background: #f7f9f9;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  position: sticky;
}

.right-bar-item {
  padding: 10px 16px;
}
.right-bar-item + div {
  border-top: 1px solid #eff3f4;
}
.right-bar-item:first-child {
  padding-top: 13px;
}
.right-bar-item:last-child {
  padding-bottom: 17px;
}

.right-bar-header {
  font-size: 19px;
  font-weight: bold;
}

.right-bar-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.right-bar-content > span {
  color: #eff3f4;
  margin-bottom: 3px;
}

.form {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.form-input {
  border-radius: 8px;
  border: 1px solid #eff3f4;
  display: block;
  height: 60px;
  margin-bottom: 12px;
  outline: none;
  padding: 10px 0 10px 8px;
  width: 300px;
}

.form-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.left-main {
  background-color: #fff;
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
  font-weight: bold;
  height: 30%;
}
@media only screen and (min-width: 1000px) {
  .left-main {
    background-color: #fff;
    font-weight: lighter;
    height: 100%;
    width: 40%;
  }
}

.right-main {
  align-items: center;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 70%;
  justify-content: center;
  overflow-y: scroll;
  text-align: left;
}
@media only screen and (min-width: 1000px) {
  .right-main {
    align-items: flex-start;
    background-color: #fff;
    flex-direction: column;
    font-weight: lighter;
    height: 100%;
    justify-content: center;
    margin-left: 50px;
    width: 60%;
  }
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
}
@media only screen and (min-width: 1000px) {
  .main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
  }
}

.main-text-top {
  font-size: 50px;
  font-weight: 900;
  word-break: break-all;
}

.main-text-bottom {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
